<html>
<body>
IP address infomation <br>
<table border="1">
<tr align="left"><td>method</td><td> {{ipaddrinfo.method}}</td></tr>
<tr align="left"><td>target </td><td> {{ipaddrinfo.target}}</td></tr>
<tr align="left"><td>network </td><td> {{ipaddrinfo.network}}</td></tr>
<tr align="left"><td>country </td><td> {{ipaddrinfo.country}}</td></tr>
<tr align="left"><td>name </td><td> {{ipaddrinfo.name}}</td></tr>
<tr align="left"><td>asn_network </td><td> {{ipaddrinfo.asn_network}}</td></tr>
<tr align="left"><td>asn_country </td><td> {{ipaddrinfo.asn_country}}</td></tr>
<tr align="left"><td>asn_name </td><td> {{ipaddrinfo.asn_name}}</td></tr>
</table>
Abuse Infomation
<table border="1">
<tr align="left"><td>domain</td><td> {{ipaddrinfo.IPDB_domain}}</td></tr>
<tr align="left"><td>ConfidenceScore</td><td> {{ipaddrinfo.IPDB_abuseConfidenceScore}}</td></tr>
<tr align="left"><td>Usage</td><td> {{ipaddrinfo.IPDB_usageType}}</td></tr>
<tr align="left"><td>ISP</td><td> {{ipaddrinfo.IPDB_isp}}</td></tr>
</table>
</body>
</html>
